body {
  margin: 0;
}

header {
  width: 100%;
  text-align: center;
  background-color: #0055af;
}

.header-background {
  height: 435px;
  background: url(../images/asia-thailand-bangkok-tuktuk-city-traffic-large.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

header img {
  margin-top: -2px;
}

.form {
  background-color: white;
  position: relative;
}

.form img {
  margin-top: -137px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.form-container {
  position: absolute;
  top: -10px;
  left: 28px;
}

.form-container input {
  height: 40px;
  border-radius: 5px;
  border-color: transparent;
  font-size: 16px;
  margin-right: 10px;
  padding: 0 10px;
}

input[name="destination"] {
  width: 390px;
}

input[name="out_date"] {
  width: 180px;
  margin-right: 10px;
}

input[name="in_date"] {
  width: 170px;
}

.thumbnail img
{
margin-top: 0px;
width: 140px;
height: 140px;;
}

.thumbnail 
{
width: 140px;
height: 140px;;
}

.activity-label
{
  margin-top: 25px;
  color:white;
  font-family: Roboto,sans-serif;
  font-size: 15px;
  display: block;
}

.experiences
{
  margin-top: 0px;
  display: block;
}
.image_picker_selector {
  display: block;
}

.submit-button {
  float: right;
  margin-right: -125px;
  margin-top: 5px;
}

.submit-button button {
  padding: 15px 50px;
  background: transparent;
  border: none;
  width: 210px;
  height: 45px;
}