body {
  margin: 0;
}

header {
  width: 100%;
  text-align: center;
  background-color: #0055af;
}

.header-background {
  height: 435px;
  background: url(//s1.travix.com/as/asia-thailand-bangkok-tuktuk-city-traffic-large.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

header img {
  margin-top: -2px;
}

.form {
  background-color: white;
  position: relative;
}

.form img {
  margin-top: -137px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.form-container {
  position: absolute;
  top: -10px;
  left: 28px;
}

.form-container input {
  height: 40px;
  border-radius: 5px;
  border-color: transparent;
  font-size: 16px;
  margin-right: 10px;
  padding: 0 10px;
}

input[name="destination"] {
  width: 390px;
}

input[name="out_date"] {
  width: 180px;
  margin-right: 10px;
}

input[name="in_date"] {
  width: 170px;
}
